@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9faff;
  --foreground: #171717;
  --white: #fff;
  --light-gray: #eeeeee;
  --gray: #b5b7c0;
  --neutral-light: #f9faff;
  --dark-blue: #292d32;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
