@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --background: #f9faff;
  --foreground: #171717;
  --light-gray: #eeeeee;
  --gray: #7e7a7a;
  --neutral-light: #f9faff;
  --dark-blue: #292d32;
  --alice-blue: #e9f1f7;
  --light-blue: #f2f6f9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
